<%- include('../includes/head.ejs') %>
    <%- include('../includes/nav.ejs') %>
        <main>
            <div class="main_width">
                <div class="flex">

                    <div class="left">
                        <% for (let i = posts.length - 1; i >= 0; i--){ %>
                            
                                <div class="feed">
                                    <img src="/<%= posts[i].image %>" loading="lazy">
                                    <div class="feed_lower">
                                        <div class="icon__left">
                                            <% if(liked[i]){ %>
                                                <i class="fa fa-heart fa-2x"></i>
                                            <% }else{ %>
                                                <a href="../like/<%= posts[i]._id %>/feed"><i class="far fa-heart fa-2x"></i></a>
                                            <% } %>
                                            <a href="../comment/<%= posts[i]._id %>"><i class="far fa-comment fa-2x"></i></a>
                                        </div>
                                        <span class="icon__text">&nbsp;Likes: <%= likes[i]%>
                                </span>
                                        <div class="icon__right">
                                        </div>
                                    </div>
                                </div>
                        <% } %>
                    </div>
                    <div class="right">
                        <div class="user__static message_main">
                            <p>User info goes here</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>