<%- include('../includes/head.ejs') %>
    <%- include('../includes/nav.ejs') %>
        <main>
            <div class="main_width">
                <div class="post">
                    <div class="post_upper">
                        <a href="./../profile/<%= author._id %>"><img class="profile_img" src="/<%= author.profileImgUrl %>"></a>
                        <p>
                            <%= author.name %>
                        </p>
                        <p>
                            Description:
                            <%= post.description %>
                        </p>
                    </div>
                    <img style="width: 100%; height: auto;" src="/<%= post.image %>">
                    <div class="feed_lower">
                        <div class="icon__left">
                            <% if(userLiked){ %>
                                <i class="fa fa-heart fa-2x"></i>
                            <% }else{ %>
                                <a href="../like/<%= post._id %>"><i class="far fa-heart fa-2x"></i></a>
                            <% } %>
                            <a href="../comment/<%= post._id %>"><i class="far fa-comment fa-2x"></i></a>
                        </div>
                        <span class="icon__text">&nbsp;
                            Likes: <%= likes %>
                        </span>
                        <div class="icon__right">
                            <% if(String(author._id) == String(user._id)){ %>
                                <a href="../edit/<%= post._id %>"><i class="far fa-edit fa-2x"></i></a>
                            <% } %>
                        </div>
                    </div>
                    <div class="comment_container">
                        <% for(comment of comments){ %>
                            <div class="comment_card">
                                <%= comment.username %>
                                    <div class="comment_description">
                                        <%= comment.description %>
                                    </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>