<%- include('../includes/head.ejs') %>
    <%- include('../includes/nav.ejs') %>
        <main>
            <div class="main_width">
                <div class="profile_header">
                    <img class="profile_img" src="/<%= profileUser.profileImgUrl %>">
                    <div class="user_name">
                        <%= username %>
                    </div>
                    <% if(canEdit) { %>
                        <span class="user_edit_box"><a class="btn user_edit" href="/edit-profile">Edit Profile</a>
                        <a class="btn user_edit" href="/feed">My Feed</a></span>
                        <% } else { %>
                            <span class="user_edit_box">
                                <% if(!isFollowing) { %>
                                <form action="/follow" method="post">
                                    <button class="btn" type="submit">Follow</button>
                                    <input type="hidden" name="userId" value="<%= profileUser._id %>">
                                </form>
                                <% } else { %>
                                    <form action="/unfollow" method="post">
                                        <button class="btn" type="submit">Unfollow</button>
                                        <input type="hidden" name="userId" value="<%= profileUser._id %>">
                                    </form>
                                    <% } %>
                            </span>
                            <% } %>
                                <p class="user_bio">
                                    <%= profileUser.bio %>
                                </p>
                                <span><a href="/following/<%= profileUser._id %>" class="link"><strong>Following: </strong>
                        <%= following %>
                    </a></span>
                </div>
                <ul class="gallery">
                    <!-- <% var max = 50;
                        for (var i = 0; i < max; i++){ 
                        var w = Math.floor(Math.random() * (5 - 2) + 2)*100;
                        var h = Math.floor(Math.random() * (5 - 2) + 2)*100;%>
                        <li><a href="#<%= i %>"><img src="https://source.unsplash.com/random/<%= w %>x<%= h %>?sig=<%= i %>" loading="lazy"></a></li>
                        <% } %> -->
                    <%if(!posts && canEdit) { %>
                        <h1>Nothing to See! Add a Post?</h1>
                        <% } else if(!posts) { %>
                            <h1>Nothing to see here.</h1>
                            <% } else { %>


                                <% for (post of posts){  %>
                                    <div class="feed">
                                        <a href="../../postDetails/<%= post._id %>">
                                            <img class="posts_img" src="/<%= post.image %>">
                                        </a>
                                        <div class="feed_lower">
                                            <div class="icon__left">
                                                <i class="far fa-heart fa-2x"></i>
                                                <i class="far fa-comment fa-2x"></i>
                                                <i class="far fa-share-square fa-2x"></i>
                                            </div>
                                            <span class="icon__text">&nbsp;Likes: 
                                                [TEMP]
                                            </span>
                                            <div class="icon__right">
                                                <i class="far fa-bookmark fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                </ul>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>